<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Данные" data-toc-modified-id="Данные-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Данные</a></span><ul class="toc-item"><li><span><a href="#Библиотеки" data-toc-modified-id="Библиотеки-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Библиотеки</a></span></li><li><span><a href="#Загрузка-данных" data-toc-modified-id="Загрузка-данных-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Загрузка данных</a></span></li><li><span><a href="#Функции-и-переменные" data-toc-modified-id="Функции-и-переменные-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Функции и переменные</a></span><ul class="toc-item"><li><span><a href="#функция-для-изучения-данных-info" data-toc-modified-id="функция-для-изучения-данных-info-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>функция для изучения данных <code>info</code></a></span></li><li><span><a href="#функция-для-расчета-оплат-calculation" data-toc-modified-id="функция-для-расчета-оплат-calculation-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>функция для расчета оплат <code>calculation</code></a></span></li><li><span><a href="#Функция-получения-restoran_id" data-toc-modified-id="Функция-получения-restoran_id-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>Функция получения <code>restoran_id</code></a></span></li><li><span><a href="#Списки-фильтрации-нужных-полей-из-исходного-файла" data-toc-modified-id="Списки-фильтрации-нужных-полей-из-исходного-файла-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Списки фильтрации нужных полей из исходного файла</a></span></li></ul></li></ul></li><li><span><a href="#Изучение-и-обработка-данных" data-toc-modified-id="Изучение-и-обработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Изучение и обработка данных</a></span><ul class="toc-item"><li><span><a href="#Заказы" data-toc-modified-id="Заказы-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Заказы</a></span><ul class="toc-item"><li><span><a href="#Изучение" data-toc-modified-id="Изучение-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Изучение</a></span></li><li><span><a href="#Обработка" data-toc-modified-id="Обработка-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Обработка</a></span></li></ul></li><li><span><a href="#Ставки-курьеров" data-toc-modified-id="Ставки-курьеров-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Ставки курьеров</a></span><ul class="toc-item"><li><span><a href="#Изучение" data-toc-modified-id="Изучение-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Изучение</a></span></li><li><span><a href="#Проверка-на-дубликаты" data-toc-modified-id="Проверка-на-дубликаты-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Проверка на дубликаты</a></span></li><li><span><a href="#Обработка" data-toc-modified-id="Обработка-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Обработка</a></span></li></ul></li><li><span><a href="#Типы-курьеров" data-toc-modified-id="Типы-курьеров-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Типы курьеров</a></span><ul class="toc-item"><li><span><a href="#Изучение" data-toc-modified-id="Изучение-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Изучение</a></span></li><li><span><a href="#Обработка" data-toc-modified-id="Обработка-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Обработка</a></span></li></ul></li><li><span><a href="#Часы-курьеров" data-toc-modified-id="Часы-курьеров-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Часы курьеров</a></span><ul class="toc-item"><li><span><a href="#Изучение" data-toc-modified-id="Изучение-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Изучение</a></span></li><li><span><a href="#Обработка" data-toc-modified-id="Обработка-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Обработка</a></span></li><li><span><a href="#Проверка-часов" data-toc-modified-id="Проверка-часов-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>Проверка часов</a></span></li></ul></li></ul></li><li><span><a href="#Объединение-таблиц" data-toc-modified-id="Объединение-таблиц-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Объединение таблиц</a></span><ul class="toc-item"><li><span><a href="#Ставки" data-toc-modified-id="Ставки-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Ставки</a></span><ul class="toc-item"><li><span><a href="#Проверка-после-объединения" data-toc-modified-id="Проверка-после-объединения-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Проверка после объединения</a></span></li></ul></li><li><span><a href="#Типы-курьеров" data-toc-modified-id="Типы-курьеров-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Типы курьеров</a></span><ul class="toc-item"><li><span><a href="#Проверка-после-объединения" data-toc-modified-id="Проверка-после-объединения-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Проверка после объединения</a></span></li></ul></li><li><span><a href="#Часы-курьеров" data-toc-modified-id="Часы-курьеров-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Часы курьеров</a></span><ul class="toc-item"><li><span><a href="#Проверка-после-объединения" data-toc-modified-id="Проверка-после-объединения-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>Проверка после объединения</a></span></li></ul></li></ul></li><li><span><a href="#Расчет-оплаты" data-toc-modified-id="Расчет-оплаты-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Расчет оплаты</a></span><ul class="toc-item"><li><span><a href="#Подготовка" data-toc-modified-id="Подготовка-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Подготовка</a></span></li><li><span><a href="#Расчет-оплаты-по-заказам" data-toc-modified-id="Расчет-оплаты-по-заказам-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Расчет оплаты по заказам</a></span><ul class="toc-item"><li><span><a href="#Проверка-после-расчета" data-toc-modified-id="Проверка-после-расчета-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Проверка после расчета</a></span></li></ul></li><li><span><a href="#Сводная-таблица-с-общей-оплатой-курьерам" data-toc-modified-id="Сводная-таблица-с-общей-оплатой-курьерам-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Сводная таблица с общей оплатой курьерам</a></span></li><li><span><a href="#выгрузка-файла-с-расчетом" data-toc-modified-id="выгрузка-файла-с-расчетом-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>выгрузка файла с расчетом</a></span></li></ul></li><li><span><a href="#Баг-репорт" data-toc-modified-id="Баг-репорт-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Баг репорт</a></span><ul class="toc-item"><li><span><a href="#курьеры-с-несколькими-типами-перемещения" data-toc-modified-id="курьеры-с-несколькими-типами-перемещения-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>курьеры с несколькими типами перемещения</a></span></li></ul></li><li><span><a href="#Доработать" data-toc-modified-id="Доработать-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Доработать</a></span></li></ul></div>

## Данные

### Библиотеки

In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
from datetime import timedelta
import math

### Загрузка данных

Создам словарь для переименования столбцов при экспорте данных

In [2]:
# словарь для переименования столбцов
mapping = {
    'Дата и время создания заказа' : 'date_time_of_order',
    'ID заказа' : 'order_id',
    'Статус заказа' : 'order_status',
    'Тип доставки заказа' : 'order_delivery_type',
    'Ресторан' : 'restoran_name',
    'Тип курьера' : 'courier_type',
    'Тип зоны доставки' : 'type_of_delivery_area',
    'Курьер тип перемещения' : 'courier_type_of_movement',
    'id ресторана' : 'restoran_id', 'id курьера' : 'courier_id'}

Сохраню данные в переменные:
* Фаил с заказами - `order`
* Фаил с датами открытия и ставками курьеров - `rate`
* Фаил с типами курьеров `types`
* Фаил с часами курьеров `time`

In [3]:
order = pd.read_excel("orders.xlsx").rename(columns=mapping)

In [4]:
rate = pd.read_excel("rate.xlsx").rename(columns=mapping)

In [5]:
types = pd.read_excel("types.xlsx").rename(columns=mapping)

In [6]:
time = pd.read_excel('time.xlsx').rename(columns=mapping)

### Функции и переменные

#### функция для изучения данных `info`

Функция для полного просмотра данных в файлах

In [7]:
# функция для знакомства с данными
def info(data):
    print('\033[1m' + 'Общая информация о датасете:' + '\033[0m')
    data.info()
    print('*'*50)
    print('\033[1m' + 'Статистические характеристики:' + '\033[0m')
    display(data.describe(datetime_is_numeric=True, include='all'))
    print('*'*50)
    print('\033[1m' + 'Данные в датасете:' + '\033[0m')
    display(data)
    print('*'*50)
    display('Количество дубликатов:', data.duplicated().sum())
    display('Количество пропусков:', pd.concat([data.isna().sum(), data.isna().mean()], axis=1)\
    .rename(columns={0:'кол-во', 1:'доля'})\
    .style.format({'кол-во':'{:.0f}', 'доля':'{:.2%}'}))

#### функция для расчета оплат `calculation`

Переменные по программе новой мотивации(`nm` - new motivation):
* `nm_days` если ресторан открылся на доставку менее `X` дней от даты заказа
* `nm_hours` если курьер был на смене более `X` часов
* `nm_orders` если у курьера было не более `X` заказов за этот день
* `nm_fix_sum` сумма которую курьер получает за этот день, заказы за этот день оплате не подлежат

In [8]:
# функция для расчета оплаты курьерам
def calculation(data):
    
#Переменные для расчета новой мотивации
    nm_days = 22
    nm_hours = 8
    nm_orders = 4
    nm_fix_sum = 1

#Построение расчета

    #Расчет фикс оплаты по новой мотивации
    if (data['delta_days'] <= timedelta(days=nm_days)) & (data['amount_hours'] >= nm_hours) & (data['count_day_orders'] <= nm_orders):
        pay = math.ceil(nm_fix_sum / data['count_day_orders'])
        
    #расчет стандартный, в случае если не сошлись параметры для новой мотивации    
    else:
        if (data['courier_type_of_movement'] == 'Авто') &  (data['type_of_delivery_area'] == 'OnCar'):
            pay = data['per_order_car']
        if (data['courier_type_of_movement'] == 'Авто') &  (data['type_of_delivery_area'] == 'OnBike'):
            pay = data['per_order_car']
        if (data['courier_type_of_movement'] == 'Авто') &  (data['type_of_delivery_area'] == 'OnFoot'):
            pay = data['per_order_car']
        if (data['courier_type_of_movement'] == 'Вело') &  (data['type_of_delivery_area'] == 'OnCar'):
            pay = data['per_order_car']
        if (data['courier_type_of_movement'] == 'Вело') &  (data['type_of_delivery_area'] == 'OnBike'):
            pay = data['per_order_bike']
        if (data['courier_type_of_movement'] == 'Вело') &  (data['type_of_delivery_area'] == 'OnFoot'):
            pay = data['per_order_bike']
        if (data['courier_type_of_movement'] == 'Пеший') &  (data['type_of_delivery_area'] == 'OnCar'):
            pay = data['per_order_car']
        if (data['courier_type_of_movement'] == 'Пеший') &  (data['type_of_delivery_area'] == 'OnBike'):
            pay = data['per_order_bike']
        if (data['courier_type_of_movement'] == 'Пеший') &  (data['type_of_delivery_area'] == 'OnFoot'):
            pay = data['per_order_foot']
    
    return pay

#### Функция получения `restoran_id`

In [9]:
def get_rest_id(row):
    restoran_id = int(row[0:4])
    return restoran_id

#### Списки фильтрации нужных полей из исходного файла

In [10]:
orders_filter_list = ['date_time_of_order', 'order_id', 'order_status',
                      'order_delivery_type', 'restoran_id', 'courier_type', 
                      'type_of_delivery_area', 'courier_id']

## Изучение и обработка данных

### Заказы

#### Изучение

Сначала добавлю `restoran_id` в фаил с заказами, использую функцию `get_rest_id`

In [11]:
order['restoran_id'] = order['restoran_name'].apply(get_rest_id)

Теперь оставлю только необходимые для работы столбцы

In [12]:
order = order[orders_filter_list]

Посмотрю на данные

In [13]:
info(order)

Общая информация о датасете:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62744 entries, 0 to 62743
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date_time_of_order     62744 non-null  object
 1   order_id               62744 non-null  int64
 2   order_status           62744 non-null  object
 3   order_delivery_type    62744 non-null  object
 4   restoran_id            62744 non-null  int64
 5   courier_type           62744 non-null  object
 6   type_of_delivery_area  3428 non-null   object
 7   courier_id             62744 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.8+ MB
**************************************************
Статистические характеристики:

,date_time_of_order,order_id,order_status,order_delivery_type,restoran_id,courier_type,type_of_delivery_area,courier_id
count,62744,6.274400e+04,62744,62744,62744.000000,62744,3428,62744
unique,6078,NaN,1,1,NaN,1,2,983
top,26-11-2022 17:55,NaN,delivered,OL,NaN,LO,OnFoot,Бур0194949
freq,38,NaN,62744,62744,NaN,62744,2137,231
mean,NaN,2.576848e+08,NaN,NaN,548.387750,NaN,NaN,NaN
std,NaN,2.764577e+05,NaN,NaN,280.182593,NaN,NaN,NaN
min,NaN,2.571855e+08,NaN,NaN,7.000000,NaN,NaN,NaN
25%,NaN,2.574440e+08,NaN,NaN,310.000000,NaN,NaN,NaN
50%,NaN,2.577002e+08,NaN,NaN,561.000000,NaN,NaN,NaN
75%,NaN,2.579293e+08,NaN,NaN,785.000000,NaN,NaN,NaN
max,NaN,2.581453e+08,NaN,NaN,1045.000000,NaN,NaN,NaN

**************************************************
Данные в датасете:

,date_time_of_order,order_id,order_status,order_delivery_type,restoran_id,courier_type,type_of_delivery_area,courier_id
0,20-11-2022 23:38,257186185,delivered,OL,485,LO,NaN,Бур0202727
1,20-11-2022 23:10,257185574,delivered,OL,213,LO,NaN,Бур0192866
2,20-11-2022 23:06,257185457,delivered,OL,196,LO,NaN,Бур0204275
3,20-11-2022 23:41,257186227,delivered,OL,445,LO,OnFoot,Бур0202927
4,20-11-2022 23:25,257185908,delivered,OL,226,LO,NaN,Бур0162369
...,...,...,...,...,...,...,...,...
62739,27-11-2022 23:46,258145348,delivered,OL,100,LO,NaN,Бур0194949
62740,27-11-2022 23:24,258144992,delivered,OL,100,LO,NaN,Бур0190073
62741,27-11-2022 22:38,258143685,delivered,OL,610,LO,NaN,Бур0186128
62742,27-11-2022 23:30,258145100,delivered,OL,213,LO,NaN,Бур0199412
62743,27-11-2022 22:21,258142979,delivered,OL,621,LO,NaN,Бур0194443

**************************************************

'Количество дубликатов:'

0

'Количество пропусков:'

In [14]:
print('Количество уникальных id ресторанов:', order['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', order['type_of_delivery_area'].unique())
print('Количество заказов:', order['order_id'].count())
print('Количество курьеров:', order['courier_id'].nunique())

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: [nan 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983

#### Обработка

Разделю дату и время `date_time_of_order` отдельно на дату и время `order_date`, `order_time` переведу в формат даты и времени

In [15]:
order[['order_date', 'order_time']] = order['date_time_of_order'].str.split(' ', expand=True)
order['order_date'] = pd.to_datetime(order['order_date'], format='%d-%m-%Y')
order['order_time'] = order['order_time'].astype('datetime64').dt.time

In [16]:
display(order.head())
print('Количество заказов:', order['order_id'].count())

,date_time_of_order,order_id,order_status,order_delivery_type,restoran_id,courier_type,type_of_delivery_area,courier_id,order_date,order_time
0,20-11-2022 23:38,257186185,delivered,OL,485,LO,NaN,Бур0202727,2022-11-20,23:38:00
1,20-11-2022 23:10,257185574,delivered,OL,213,LO,NaN,Бур0192866,2022-11-20,23:10:00
2,20-11-2022 23:06,257185457,delivered,OL,196,LO,NaN,Бур0204275,2022-11-20,23:06:00
3,20-11-2022 23:41,257186227,delivered,OL,445,LO,OnFoot,Бур0202927,2022-11-20,23:41:00
4,20-11-2022 23:25,257185908,delivered,OL,226,LO,NaN,Бур0162369,2022-11-20,23:25:00

Количество заказов: 62744

Замена пропусков в типе зоны доставки на `OnCar`

In [17]:
order["type_of_delivery_area"] = order["type_of_delivery_area"].fillna('OnCar')
order.shape

(62744, 10)

In [18]:
display(order.head())
print('Уникальные значения поля Тип зоны доставки:', order['type_of_delivery_area'].unique())
print('Количество заказов:', order['order_id'].count())

,date_time_of_order,order_id,order_status,order_delivery_type,restoran_id,courier_type,type_of_delivery_area,courier_id,order_date,order_time
0,20-11-2022 23:38,257186185,delivered,OL,485,LO,OnCar,Бур0202727,2022-11-20,23:38:00
1,20-11-2022 23:10,257185574,delivered,OL,213,LO,OnCar,Бур0192866,2022-11-20,23:10:00
2,20-11-2022 23:06,257185457,delivered,OL,196,LO,OnCar,Бур0204275,2022-11-20,23:06:00
3,20-11-2022 23:41,257186227,delivered,OL,445,LO,OnFoot,Бур0202927,2022-11-20,23:41:00
4,20-11-2022 23:25,257185908,delivered,OL,226,LO,OnCar,Бур0162369,2022-11-20,23:25:00

Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744

### Ставки курьеров

#### Изучение

In [19]:
info(rate)

Общая информация о датасете:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date_on         611 non-null    datetime64[ns]
 1   restoran_id     611 non-null    int64
 2   per_order_car   611 non-null    float64
 3   per_order_bike  611 non-null    float64
 4   per_order_foot  611 non-null    float64
 5   date_off        258 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(1)
memory usage: 28.8 KB
**************************************************
Статистические характеристики:

,date_on,restoran_id,per_order_car,per_order_bike,per_order_foot,date_off
count,611,611.000000,611.000000,611.000000,611.000000,258
mean,2022-02-06 09:20:54.991816704,563.509002,1.527741,1.328069,1.128723,2022-05-07 20:27:54.418604544
min,2020-08-30 00:00:00,7.000000,0.700000,0.500000,0.300000,2021-04-06 00:00:00
25%,2021-10-04 12:00:00,318.000000,1.500000,1.300000,1.100000,2022-02-11 12:00:00
50%,2022-03-14 00:00:00,586.000000,1.600000,1.400000,1.200000,2022-05-31 00:00:00
75%,2022-07-01 00:00:00,811.000000,1.800000,1.600000,1.400000,2022-07-31 00:00:00
max,2022-11-28 00:00:00,1045.000000,2.000000,2.000000,2.000000,2022-11-27 00:00:00
std,NaN,284.415180,0.282661,0.283324,0.284644,NaN

**************************************************
Данные в датасете:

,date_on,restoran_id,per_order_car,per_order_bike,per_order_foot,date_off
0,2020-08-30,97,1.0,0.8,0.6,2021-09-30
1,2020-09-01,502,1.0,0.8,0.6,2022-02-28
2,2020-09-01,748,1.0,0.8,0.6,2022-02-28
3,2020-09-14,98,1.0,0.8,0.6,2021-09-30
4,2020-09-14,706,1.0,0.8,0.6,2021-09-30
...,...,...,...,...,...,...
606,2022-11-28,370,1.7,1.5,1.3,NaT
607,2022-11-28,973,1.7,1.5,1.3,NaT
608,2022-11-28,874,1.7,1.5,1.3,NaT
609,2022-11-28,481,1.7,1.5,1.3,NaT
610,2022-11-28,807,1.7,1.5,1.3,NaT

**************************************************

'Количество дубликатов:'

0

'Количество пропусков:'

In [20]:
print('Количество уникальных id ресторанов:', rate['restoran_id'].nunique())
print('Уникальные ставки в per_order_car:', rate['per_order_car'].unique())
print('Уникальные ставки в per_order_bike:', rate['per_order_bike'].unique())
print('Уникальные ставки в per_order_foot:', rate['per_order_foot'].unique())

Количество уникальных id ресторанов: 392
Уникальные ставки в per_order_car: [1.   0.7  1.2  1.3  1.5  1.55 1.6  1.7  1.65 1.8  2.   1.4  1.9 ]
Уникальные ставки в per_order_bike: [0.8  0.5  1.   1.1  1.3  1.35 1.4  1.5  1.45 1.6  2.   1.2  1.7 ]
Уникальные ставки в per_order_foot: [0.6  0.3  0.8  0.9  1.1  1.15 1.2  1.3  1.25 1.4  1.6  2.   1.   1.5 ]

#### Проверка на дубликаты

Действующая ставка может быть только одна, значит если `restoran_id` встречается более 1 раза, там где нет даты завершения - то есть ошибка

In [21]:
bad_rate = rate[rate['date_off'].isna()].value_counts('restoran_id', ascending=False).loc [ lambda x : x > 1]
bad_rate

Series([], dtype: int64)

#### Обработка

Поменяю форматы дат

In [22]:
rate["date_on"] = pd.to_datetime(rate["date_on"], format='%Y-%m-%d')

In [23]:
rate["date_off"] = pd.to_datetime(rate["date_off"], format='%Y-%m-%d')

Добавлю столбец с датой открытия ресторана - это минимальная дата по `date_on` встречающаяся в данных

In [24]:
rate['date_open_restoran'] = np.nan
rate['date_open_restoran'] = rate['date_open_restoran'].fillna(rate.groupby("restoran_id")["date_on"].transform("min"))

* Меняю пропуски в дате окончания работы на текущую дату, т.к. если даты нет значит ставка действующая. 
* меняю тип данных на дату

In [25]:
rate["date_off"] = rate["date_off"].fillna(date.today())
rate["date_off"] = pd.to_datetime(rate["date_off"], format='%Y-%m-%d')

In [26]:
display(rate.info())
display(rate.loc[rate['restoran_id'] == 22])
rate.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 611 entries, 0 to 610
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_on             611 non-null    datetime64[ns]
 1   restoran_id         611 non-null    int64
 2   per_order_car       611 non-null    float64
 3   per_order_bike      611 non-null    float64
 4   per_order_foot      611 non-null    float64
 5   date_off            611 non-null    datetime64[ns]
 6   date_open_restoran  611 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(3), int64(1)
memory usage: 33.5 KB

None

,date_on,restoran_id,per_order_car,per_order_bike,per_order_foot,date_off,date_open_restoran
559,2022-09-01,22,1.4,1.2,1.0,2022-09-25,2022-09-01
574,2022-09-26,22,1.8,1.6,1.4,2022-12-06,2022-09-01

(611, 7)

### Типы курьеров

#### Изучение

In [27]:
info(types)

Общая информация о датасете:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1507 entries, 0 to 1506
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   restoran_id               1507 non-null   int64
 1   courier_id                1507 non-null   object
 2   courier_type_of_movement  1507 non-null   object
dtypes: int64(1), object(2)
memory usage: 35.4+ KB
**************************************************
Статистические характеристики:

        restoran_id  courier_id courier_type_of_movement
count   1507.000000        1507                     1507
unique          NaN        1387                        4
top             NaN  Бур0205966                     Авто
freq            NaN           4                     1438
mean     569.839416         NaN                      NaN
std      288.392890         NaN                      NaN
min        7.000000         NaN                      NaN
25%      313.500000         NaN                      NaN
50%      594.000000         NaN                      NaN
75%      817.000000         NaN                      NaN
max     1045.000000         NaN                      NaN

**************************************************
Данные в датасете:

      restoran_id  courier_id courier_type_of_movement
0               7  Бур0198236                     Авто
1               7  Бур0203018                     Авто
2               7  Бур0203985                     Авто
3               7  Бур0204803                     Авто
4               7  Бур0205576                     Авто
...           ...         ...                      ...
1502         1045  Бур0204926                     Авто
1503         1045  Бур0205112                     Авто
1504         1045  Бур0205432                     Авто
1505         1045  Бур0206116                     Авто
1506         1045  Бур0206849                     Авто

[1507 rows x 3 columns]

**************************************************

'Количество дубликатов:'

0

'Количество пропусков:'

In [28]:
print('Количество уникальных id ресторанов:', types['restoran_id'].nunique())
print('Количество уникальных id курьера:', types['courier_id'].nunique())
print('Уникальные значения в поле "courier_type_of_movement":', types['courier_type_of_movement'].unique())

Количество уникальных id ресторанов: 337
Количество уникальных id курьера: 1387
Уникальные значения в поле "courier_type_of_movement": ['Авто' 'Пеший' 'Вело' '-']

#### Обработка

* Удалю дубликаты, т.к. один и тот же курьер мог работать в разных ресторанах
* оставлю только столбец с ID курьера и его типом перемещения

In [29]:
types['courier_id'].duplicated().sum()

120

In [30]:
types = types.drop_duplicates(subset='courier_id')
types['courier_id'].duplicated().sum()

0

In [31]:
types = types[['courier_id', 'courier_type_of_movement']]
types.head(1)

   courier_id courier_type_of_movement
0  Бур0198236                     Авто

In [32]:
print('Количество уникальных id курьера:', types['courier_id'].nunique())
print('Уникальные значения в поле "courier_type_of_movement":', types['courier_type_of_movement'].unique())

Количество уникальных id курьера: 1387
Уникальные значения в поле "courier_type_of_movement": ['Авто' 'Пеший' 'Вело' '-']

* Курьеры у которых в типе перемещения стоит `-` это курьеры с несколькими типами перемещения, сохраню их в отдельную переменную. `bad_couriers_type` запишу в баг репорт
* Заменю `-` прочерки в типе перемещения на "Авто", т.к. курьеры с прочерком это курьеры с несколькими типами перемещения

In [33]:
bad_couriers_type = types.query('courier_type_of_movement == "-"')
bad_couriers_type.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 56 to 638
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   courier_id                6 non-null      object
 1   courier_type_of_movement  6 non-null      object
dtypes: object(2)
memory usage: 144.0+ bytes

In [34]:
types['courier_type_of_movement'] = types['courier_type_of_movement'].str.replace('-', "Авто")
print('Уникальные значения в поле "courier_type_of_movement":', types['courier_type_of_movement'].unique())

Уникальные значения в поле "courier_type_of_movement": ['Авто' 'Пеший' 'Вело']

### Часы курьеров

#### Изучение

In [35]:
info(time)

Общая информация о датасете:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1582 entries, 0 to 1581
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restoran_id  1582 non-null   int64
 1   courier_id   1582 non-null   object
 2   1            327 non-null    float64
 3   2            344 non-null    float64
 4   3            373 non-null    float64
 5   4            413 non-null    float64
 6   5            411 non-null    float64
 7   6            396 non-null    float64
 8   7            342 non-null    float64
 9   8            329 non-null    float64
 10  9            360 non-null    float64
 11  10           347 non-null    float64
 12  11           412 non-null    float64
 13  12           418 non-null    float64
 14  13           406 non-null    float64
 15  14           358 non-null    float64
 16  15           336 non-null    float64
 17  16           351 non-null    float64
 18  17           367 non-null    float64
 19  18           407 non-null    float64
 20  19           424 non-null    float64
 21  20           410 non-null    float64
 22  21           338 non-null    float64
 23  22           352 non-null    float64
 24  23           368 non-null    float64
 25  24           369 non-null    float64
 26  25           407 non-null    float64
 27  26           413 non-null    float64
 28  27           380 non-null    float64
 29  28           2 non-null      float64
 30  29           0 non-null      float64
 31  30           0 non-null      float64
 32  31           0 non-null      float64
dtypes: float64(31), int64(1), object(1)
memory usage: 408.0+ KB
**************************************************
Статистические характеристики:

,restoran_id,courier_id,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
count,1582.000000,1582,327.000000,344.000000,373.000000,413.000000,411.000000,396.000000,342.000000,329.000000,...,352.000000,368.000000,369.000000,407.000000,413.000000,380.000000,2.000000,0.0,0.0,0.0
unique,NaN,1503,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Бур0162369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,570.438053,NaN,8.718165,8.577355,8.735067,9.012446,9.022384,8.849571,8.565936,8.618571,...,8.418920,8.520516,8.347425,8.497887,8.635666,8.892921,1.190000,NaN,NaN,NaN
std,288.438442,NaN,2.846144,3.013376,2.914410,2.556017,2.492205,2.639440,2.841837,2.906003,...,2.826824,2.811499,2.913459,2.763644,2.754625,2.637740,0.438406,NaN,NaN,NaN
min,7.000000,NaN,0.130000,0.010000,0.300000,0.030000,0.330000,0.330000,1.000000,0.350000,...,0.060000,0.510000,0.400000,1.200000,0.010000,0.310000,0.880000,NaN,NaN,NaN
25%,312.000000,NaN,6.825000,6.445000,6.550000,7.480000,7.550000,7.382500,6.322500,6.760000,...,6.057500,6.277500,6.030000,6.415000,6.650000,7.372500,1.035000,NaN,NaN,NaN
50%,592.000000,NaN,9.680000,9.550000,9.750000,9.830000,9.750000,9.690000,9.520000,9.650000,...,9.340000,9.405000,9.260000,9.280000,9.410000,9.630000,1.190000,NaN,NaN,NaN
75%,819.000000,NaN,10.950000,11.015000,11.150000,10.960000,10.880000,11.000000,10.972500,11.080000,...,10.785000,10.837500,10.700000,10.830000,10.760000,11.002500,1.345000,NaN,NaN,NaN
max,1070.000000,NaN,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,1.500000,NaN,NaN,NaN

**************************************************
Данные в датасете:

,restoran_id,courier_id,1,2,3,4,5,6,7,8,...,22,23,24,25,26,27,28,29,30,31
0,7,Бур0198236,NaN,NaN,11.13,11.05,NaN,NaN,11.15,NaN,...,NaN,10.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,7,Бур0204803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7,Бур0203985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7,Бур0205576,11.11,NaN,9.90,6.60,11.1,NaN,5.70,11.10,...,NaN,NaN,NaN,NaN,10.01,11.05,NaN,NaN,NaN,NaN
4,7,Бур0203018,NaN,11.16,NaN,NaN,NaN,10.85,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1577,1045,Бур0204926,NaN,4.76,NaN,4.40,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1578,1045,Бур0200454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1579,1045,Бур0206849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.33,NaN,NaN,10.51,10.50,NaN,NaN,NaN,NaN,NaN
1580,1045,Бур0205112,NaN,NaN,10.65,10.41,NaN,NaN,10.45,10.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1581,1070,Бур0162369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**************************************************

'Количество дубликатов:'

0

'Количество пропусков:'

#### Обработка

разворачиваем таблицу, чтоб дни соответствовали ресторану и курьеру.

In [36]:
time = time.melt(id_vars=['restoran_id', 'courier_id'], var_name='day_of_month', value_name='amount_hours')

In [37]:
time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49042 entries, 0 to 49041
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   restoran_id   49042 non-null  int64
 1   courier_id    49042 non-null  object
 2   day_of_month  49042 non-null  object
 3   amount_hours  10160 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1.5+ MB

переводим значения колонки `day_of_month` в `int`

In [38]:
time['day_of_month'] = time['day_of_month'].astype('int')

In [39]:
display(time.info())
display(time.query('restoran_id == 13'))
print('Количество курьеров:', time['courier_id'].nunique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49042 entries, 0 to 49041
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   restoran_id   49042 non-null  int64
 1   courier_id    49042 non-null  object
 2   day_of_month  49042 non-null  int32
 3   amount_hours  10160 non-null  float64
dtypes: float64(1), int32(1), int64(1), object(1)
memory usage: 1.3+ MB

None

       restoran_id  courier_id  day_of_month  amount_hours
6               13  Бур0052280             1           NaN
7               13  Бур0033052             1           NaN
8               13  Бур0207029             1           NaN
9               13  Бур0063143             1          5.48
10              13  Бур0204226             1           NaN
...            ...         ...           ...           ...
47467           13  Бур0033052            31           NaN
47468           13  Бур0207029            31           NaN
47469           13  Бур0063143            31           NaN
47470           13  Бур0204226            31           NaN
47471           13  Бур0197166            31           NaN

[186 rows x 4 columns]

Количество курьеров: 1503

#### Проверка часов

Теперь сделаю сводную чтобы убрать возможные ошибки повторения строк в таблице. Посчитаю по каждому ресторану, курьеру, дню месяца сумму часов курьеров

In [40]:
display(time.shape)
print('сумма часов до объединения', time['amount_hours'].sum())
time = time.groupby(['restoran_id', 'courier_id', 'day_of_month']).agg({'amount_hours' : 'sum'}).reset_index()
display(time.shape)
print('сумма часов после объединения', time['amount_hours'].sum())

(49042, 4)

сумма часов до объединения 88100.65

(49042, 4)

сумма часов после объединения 88100.65

## Объединение таблиц

### Ставки

Создам переменную `pay_table` в которой будет готовая таблица для расчета оплат

К таблице с заказами нужно:
* Оставить только необходимые поля для работы `'order_id', 'restoran_id', 'courier_id', 'type_of_delivery_area', 'order_date'`
* подтянуть: данные по ставкам по каждому типу курьера

In [41]:
order = order[['order_id', 'restoran_id', 'courier_id', 'type_of_delivery_area', 'order_date']]

In [42]:
pay_table = order.merge(rate, how='left', on='restoran_id')

Теперь оставлю только заказы которые входят в рамки действия ставки

In [43]:
pay_table = pay_table.query('order_date >= date_on and order_date <= date_off')

#### Проверка после объединения

In [44]:
print('\033[1m' + 'МЕТРИКИ ПО ИСХОДНИКУ ORDER:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', order['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', order['type_of_delivery_area'].unique())
print('Количество заказов:', order['order_id'].count())
print('Количество курьеров:', order['courier_id'].nunique())
display(order.shape)
print('')
print('\033[1m' + 'МЕТРИКИ ПОСЛЕ ОБЪЕДИНЕНИЯ СО СТАВКАМИ:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', pay_table['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', pay_table['type_of_delivery_area'].unique())
print('Количество заказов:', pay_table['order_id'].count())
print('Количество курьеров:', pay_table['courier_id'].nunique())
display(pay_table.shape)
print('')
print('\033[1m' + 'РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:' + '\033[0m')
print(order['order_id'].count() - pay_table['order_id'].count())

МЕТРИКИ ПО ИСХОДНИКУ ORDER:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983

(62744, 5)

МЕТРИКИ ПОСЛЕ ОБЪЕДИНЕНИЯ СО СТАВКАМИ:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983

(62744, 11)

РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:
0

In [45]:
list(set(order['order_id']) ^ set(pay_table['order_id']))

[]

### Типы курьеров

In [46]:
pay_table = pay_table.merge(types, how='left', on='courier_id')

#### Проверка после объединения

In [47]:
print('\033[1m' + 'МЕТРИКИ ПО ИСХОДНИКУ ORDER:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', order['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', order['type_of_delivery_area'].unique())
print('Количество заказов:', order['order_id'].count())
print('Количество курьеров:', order['courier_id'].nunique())
display(order.shape)
print('')
print('\033[1m' + 'МЕТРИКИ ПОСЛЕ ОБЪЕДИНЕНИЯ С ТИПАМИ ПЕРЕМЕЩЕНИЯ:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', pay_table['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', pay_table['type_of_delivery_area'].unique())
print('Количество заказов:', pay_table['order_id'].count())
print('Количество курьеров:', pay_table['courier_id'].nunique())
print('Уникальных типов перемещения',pay_table['courier_type_of_movement'].unique())
display(pay_table.shape)
print('')
print('\033[1m' + 'РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:' + '\033[0m')
print(order['order_id'].count() - pay_table['order_id'].count())

МЕТРИКИ ПО ИСХОДНИКУ ORDER:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983

(62744, 5)

МЕТРИКИ ПОСЛЕ ОБЪЕДИНЕНИЯ С ТИПАМИ ПЕРЕМЕЩЕНИЯ:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983
Уникальных типов перемещения ['Авто' 'Вело' 'Пеший']

(62744, 12)

РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:
0

Сверю список ресторанов из заказов и из таблицы для оплат после объединения. Некоторые рестораны могли еще не внести в `rate`

In [48]:
list(set(order['restoran_id']) ^ set(pay_table['restoran_id']))

[]

### Часы курьеров

Добавлю столбец `day_of_month` с числовым значением даты заказа, чтобы получить день месяца в такомже формате как в `time`

In [49]:
pay_table['day_of_month'] = pay_table['order_date'].dt.day

Теперь объединю таблицу `time` с сборной таблицей для расчета оплаты `pay_table`

In [50]:
pay_table = pay_table.merge(time, how='left', on=['restoran_id','courier_id', 'day_of_month'])

#### Проверка после объединения

In [51]:
print('\033[1m' + 'МЕТРИКИ ПО ИСХОДНИКУ ORDER:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', order['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', order['type_of_delivery_area'].unique())
print('Количество заказов:', order['order_id'].count())
print('Количество курьеров:', order['courier_id'].nunique())
display(order.shape)
print('')
print('\033[1m' + 'МЕТРИКИ ПОСЛЕ ОБЪЕДИНЕНИЯ С ЧАСАМИ:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', pay_table['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', pay_table['type_of_delivery_area'].unique())
print('Количество заказов:', pay_table['order_id'].count())
print('Количество курьеров:', pay_table['courier_id'].nunique())
print('Уникальных типов перемещения',pay_table['courier_type_of_movement'].unique())
display(pay_table.shape)
print('')
print('\033[1m' + 'РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:' + '\033[0m')
print(order['order_id'].count() - pay_table['order_id'].count())

МЕТРИКИ ПО ИСХОДНИКУ ORDER:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983

(62744, 5)

МЕТРИКИ ПОСЛЕ ОБЪЕДИНЕНИЯ С ЧАСАМИ:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983
Уникальных типов перемещения ['Авто' 'Вело' 'Пеший']

(62744, 14)

РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:
0

## Расчет оплаты

### Подготовка

Добавлю столбец `count_day_orders` куда посчитаю общее количество заказов курьера за дату заказа

In [52]:
pay_table['count_day_orders'] = np.nan 
pay_table['count_day_orders'] = pay_table['count_day_orders'].fillna(pay_table.groupby(["courier_id", "order_date"])["order_id"].transform("count"))

Добавлю столбец `delta_days` с разницей даты заказа с датой открытия доставки в ресторане

In [53]:
pay_table['delta_days'] = pay_table['order_date'] - pay_table['date_open_restoran']

### Расчет оплаты по заказам

Использую функцию `calculation` для расчета оплаты по каждому заказу, запишу в столбец `pay`

In [54]:
pay_table['pay'] = pay_table.apply(calculation, axis=1)

#### Проверка после расчета

In [55]:
print('\033[1m' + 'МЕТРИКИ ПО ИСХОДНИКУ ORDER:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', order['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', order['type_of_delivery_area'].unique())
print('Количество заказов:', order['order_id'].count())
print('Количество курьеров:', order['courier_id'].nunique())
display(order.shape)
print('')
print('\033[1m' + 'МЕТРИКИ ПОСЛЕ РАСЧЕТА ОПЛАТЫ ЗА ЗАКАЗ:' + '\033[0m')
print('')
print('Количество уникальных id ресторанов:', pay_table['restoran_id'].nunique())
print('Уникальные значения поля Тип зоны доставки:', pay_table['type_of_delivery_area'].unique())
print('Количество заказов:', pay_table['order_id'].count())
print('Количество курьеров:', pay_table['courier_id'].nunique())
print('Уникальных типов перемещения',pay_table['courier_type_of_movement'].unique())
display(pay_table.shape)
print('')
print('\033[1m' + 'РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:' + '\033[0m')
print(order['order_id'].count() - pay_table['order_id'].count())

МЕТРИКИ ПО ИСХОДНИКУ ORDER:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983

(62744, 5)

МЕТРИКИ ПОСЛЕ РАСЧЕТА ОПЛАТЫ ЗА ЗАКАЗ:

Количество уникальных id ресторанов: 324
Уникальные значения поля Тип зоны доставки: ['OnCar' 'OnFoot' 'OnBike']
Количество заказов: 62744
Количество курьеров: 983
Уникальных типов перемещения ['Авто' 'Вело' 'Пеший']

(62744, 17)

РАЗНИЦА В КОЛИЧЕСТВЕ ЗАКАЗОВ:
0

### Сводная таблица с общей оплатой курьерам

Сделаю сводную таблицу `agr_pay_table` с общей суммой оплат по каждому ресторану, курьеру за весь период

In [56]:
agr_pay_table = pay_table.groupby(['restoran_id', 'courier_id']).agg({'pay' : 'sum'}).reset_index()

In [57]:
print('\033[1m' + 'МЕТРИКИ ПО СВОДНОЙ ПО ОПЛАТАМ:' + '\033[0m')
print('')
print('общая сумма выплат:', agr_pay_table['pay'].sum())
print('Количество курьеров - строки:', agr_pay_table['courier_id'].count())
print('Количество курьеров уникальное:', agr_pay_table['courier_id'].nunique())
print('')
print('ТОП 5 курьеров с минимальной суммой:')
display(agr_pay_table.sort_values('pay').head())
print('')
print('ТОП 5 курьеров с максимальной суммой:')
display(agr_pay_table.sort_values('pay').tail())

МЕТРИКИ ПО СВОДНОЙ ПО ОПЛАТАМ:

общая сумма выплат: 103501.90000000001
Количество курьеров - строки: 1004
Количество курьеров уникальное: 983

ТОП 5 курьеров с минимальной суммой:

     restoran_id  courier_id  pay
912          937  Бур0200933  1.6
486          580  Бур0206967  3.2
739          807  Бур0197433  3.2
10            22  Бур0206538  3.2
159          226  Бур0162369  3.2

ТОП 5 курьеров с максимальной суммой:

     restoran_id  courier_id    pay
857          893  Бур0199265  339.0
923          951  Бур0183653  342.4
430          521  Бур0203210  345.6
353          445  Бур0202927  370.8
50           100  Бур0194949  415.8

### выгрузка файла с расчетом

In [58]:
agr_pay_table.to_excel('pay_table.xlsx', index=False)

## Баг репорт

### курьеры с несколькими типами перемещения

Есть курьеры с несколькими типами перемещения, они в `bad_couriers_type` выгружу их в эксель для передачи ответственным

In [59]:
bad_couriers_type.to_excel("bad_couriers_type.xlsx", index = False)

## Доработать

- [ ] добавить проверку на период данных в заказах, отфильтровать только по периоду
- [ ] выводить список курьеров кто попал под новую мотивацию
- [ ] Добавить остановку выполнения кода, если какая то проверка не пройдена
- [ ] Добавить предобработку данных из прямых файлов, чтобы не чистить их в экселе
- [ ] Автоматизировать выгрузку данных через SQL запросы в БД
- [ ] добавить проверку пропусков после расчета оплаты за каждый заказ
- [X] добавить проверку на минимальные и максимальные суммы в общей таблице
- [ ] в переменной bad_rate рестораны с косяками в датах, надо в баг репорт и в отдельный фаил
- [ ] после объединения добавить блок сверки списков ресторанов, заказов, курьеров